<!-- views/admin/users.ejs -->
<% include ../../partials/header %>
<!--<script src='/public/bgrins-spectrum/spectrum.js'></script>
<link rel='stylesheet' href='/public/bgrins-spectrum/spectrum.css' />-->
<style>
textarea {
	width: 100%;
	height: 100px;
	resize: none;
}
.dotted {
	border-top: 2px dotted;
	width: 80%;
	color: #c9b66f;
}
</style>

	<div class="page-header text-center">
		<h1><span class="fa fa-calendar"></span> Event Form</h1>
	</div>

  <form action="/staff/eventForm" method="post">
		<h2>Customer & General Info</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Customer</label>
				<select class="form-control" name="customer">
					<% printCustomers(customers); %>
				</select>
			</div>
			<div class="form-group col-sm-4">
				<label>Bride's Name</label>
				<input type="text" class="form-control" name="brides-name">
			</div>
			<div class="form-group col-sm-4">
				<label>Groom's Name</label>
				<input type="text" class="form-control" name="grooms-name">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Email</label>
				<input type="text" class="form-control" name="customer-email">
			</div>
			<div class="form-group col-sm-4">
				<label>Address</label>
				<input type="text" class="form-control" name="customer-address">
			</div>
			<div class="form-group col-sm-4">
				<label>Phone</label>
				<input type="text" class="form-control" name="customer-phone">
			</div>
		</div>
		<!--
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group col-sm-4">
				<label>Phone</label>
				<input type="text" class="form-control" name="phone">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Address</label>
				<input type="text" class="form-control" name="address">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>City</label>
				<input type="text" class="form-control" name="city">
			</div>
			<div class="form-group col-sm-4">
				<label>State</label>
				<input type="text" class="form-control" name="state">
			</div>
			<div class="form-group col-sm-4">
				<label>Zip</label>
				<input type="text" class="form-control" name="zip">
			</div>
		</div> -->
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Colors</label><br>
				<textarea name="color-notes"></textarea>
			</div>
			<div class="form-group col-sm-6">
				<label>Theme</label><br>
				<textarea name="theme-notes"></textarea>
			</div>
		</div>

		<hr>

		<h2>Ceremony Info</h2>
		<div class="row">
			<div class="form-group col-sm-6">
					<label>Date</label>
					<input type="text" class="form-control date" name="ceremony-date">
			</div>
			<div class="form-group col-sm-6">
				<label>Start Time</label>
				<select class="form-control" name="ceremony-start-time">
					<% printTimes(); %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Address</label>
				<input type="text" class="form-control" name="ceremony-address">
			</div>
			<div class="form-group col-sm-3">
				<label>City</label>
				<input type="text" class="form-control" name="ceremony-city">
			</div>
			<div class="form-group col-sm-3">
				<label>State</label>
				<input type="text" class="form-control" name="ceremony-state">
			</div>
			<div class="form-group col-sm-3">
				<label>Zip</label>
				<input type="text" class="form-control" name="ceremony-zip">
			</div>
		</div>
		<hr class="dotted">
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Altar</label>
				<select class="form-control" name="altar-flowers"><% printFlowers(flowers); %></select><br>
				<input name="altar-total" min="0.00" class="form-control" id="altar-total" placeholder="Altar Total">
				<br>
				<button class='btn btn-primary' id="addAltarItem">Add Altar Item</button>
			</div>
			<div class="form-group col-sm-4">
				<label>Quantity of Item</label>
				<input name="altar-qty" type="number" min="0.00" step="1" class="form-control" id="altar-qty" placeholder="Quantity">
			</div>
			<div class="form-group col-sm-4">
				<label>Notes</label>
				<textarea name="altar-notes"></textarea>
			</div>
		</div>
		<hr class="dotted">
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Candleabras</label>
				<select class="form-control" name="candleabras-flowers"><% printFlowers(flowers); %></select><br>
				<input name="candleabras-total" min="0.00" class="form-control" id="candleabras-total" placeholder="Candleabras Total">
				<br>
				<button class='btn btn-primary' id="addCandleabrasItem">Add Candleabras Item</button>
			</div>
			<div class="form-group col-sm-4">
				<label>Quantity of Item</label>
				<input name="candleabra-qty" type="number" min="0.00" step="1" class="form-control" id="candleabra-qty" placeholder="Quantity">
			</div>
			<div class="form-group col-sm-4">
				<label>Notes</label>
				<textarea name="candleabras-notes"></textarea>
			</div>
		</div>
		<hr class="dotted">
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Unity Candle</label>
				<select class="form-control" name="unitycandle-flowers"><% printFlowers(flowers); %></select><br>
				<input name="unitycandle-total" min="0.00" class="form-control" id="unitycandle-total" placeholder="Unity Candle Total">
				<br>
				<button class='btn btn-primary' id="addUnityCandleItem">Add Unity Candle Item</button>
			</div>
			<div class="form-group col-sm-4">
				<label>Quantity of Item</label>
				<input name="unitycandle-qty" type="number" min="0.00" step="1" class="form-control" id="unitycandle-qty" placeholder="Quantity">
			</div>
			<div class="form-group col-sm-4">
				<label>Notes</label>
				<textarea name="unitycandle-notes"></textarea>
			</div>
		</div>
		<hr class="dotted">
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Pew Decorations</label>
				<select class="form-control" name="pewdecorations-flowers"><% printFlowers(flowers); %></select><br>
				<input name="pewdecorations-total" min="0.00" class="form-control" id="pewdecorations-total" placeholder="Pew Decorations Total">
				<br>
				<button class='btn btn-primary' id="addPewDecorationsItem">Add Pew Decoration Item</button>
			</div>
			<div class="form-group col-sm-4">
				<label>Quantity of Item</label>
				<input name="pewdecorations-qty" type="number" min="0.00" step="1" class="form-control" id="pewdecorations-qty" placeholder="Quantity">
			</div>
			<div class="form-group col-sm-4">
				<label>Notes</label>
				<textarea name="pewdecorations-notes"></textarea>
			</div>
		</div>
		<hr class="dotted">
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Other Decorations</label>
				<select class="form-control" name="otherdecorations-flowers"><% printFlowers(flowers); %></select><br>
				<input name="otherdecorations-total" min="0.00" class="form-control" id="otherdecorations-total" placeholder="Other Decorations Total">
				<br>
				<button class='btn btn-primary' id="addOtherDecorationsItem">Add Other Decoration Item</button>
			</div>
			<div class="form-group col-sm-4">
				<label>Quantity of Item</label>
				<input name="otherdecorations-qty" type="number" min="0.00" step="1" class="form-control" id="otherdecorations-qty" placeholder="Quantity">
			</div>
			<div class="form-group col-sm-4">
				<label>Notes</label>
				<textarea name="otherdecorations-notes"></textarea>
			</div>
		</div>

		<hr>

		<!-- RECEPTION -->

		<h2>Reception Info</h2>
		<div class="row">
			<div class="form-group col-sm-6">
					<label>Date</label>
					<input type="text" class="form-control date" name="reception-date">
			</div>
			<div class="form-group col-sm-6">
				<label>Start Time</label>
				<select class="form-control" name="reception-start-time">
					<% printTimes(); %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Address</label>
				<input type="text" class="form-control" name="reception-address">
			</div>
			<div class="form-group col-sm-3">
				<label>City</label>
				<input type="text" class="form-control" name="reception-city">
			</div>
			<div class="form-group col-sm-3">
				<label>State</label>
				<input type="text" class="form-control" name="reception-state">
			</div>
			<div class="form-group col-sm-3">
				<label>Zip</label>
				<input type="text" class="form-control" name="reception-zip">
			</div>
		</div>
		<hr class="dotted">
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Reception Items</label>
				<br>
				<input type="button" class='btn btn-primary' id="addReceptionItem" value="Add" />
				<table class="itemTable" id="receptionTable" cellspacing="0" width="100%">
					<thead>
						<th>Item</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Remove</th>
					</thead>
					<tr>
						<td class='receptionItem'><b>Total<b></td>
						<td class='receptionQty'></td>
						<td class='receptionPrice'><b>$0.00<b></td>
					</tr>
				</table>
			</div>
			<div class="form-group col-sm-6">
				<label>Notes</label>
				<textarea name="reception-notes"></textarea>
			</div>
		</div>

		<hr>

		<h2>Photography, Planner, & Delivery</h2>
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Photographers</label>
				<input type="text" class="form-control" name="photographers">
			</div>
			<div class="form-group col-sm-6">
				<label>Photography Start Time</label>
				<select class="form-control" name="photograph-start-time">
					<% printTimes(); %>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Wedding Planner</label>
				<input type="text" class="form-control" name="wedding-planner">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Delivery Address</label>
				<input type="text" class="form-control" name="deliver-address">
			</div>
			<div class="form-group col-sm-3">
				<label>City</label>
				<input type="text" class="form-control" name="deliver-city">
			</div>
			<div class="form-group col-sm-3">
				<label>State</label>
				<input type="text" class="form-control" name="deliver-state">
			</div>
			<div class="form-group col-sm-3">
				<label>Zip</label>
				<input type="text" class="form-control" name="deliver-zip">
			</div>
		</div>

		<hr>

		<h2>Bouquets</h2>
		<!-- Bridal -->
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Bridal</label>
				<select class="form-control" name="bouquet-bridal"><% printFlowers(flowers); %></select><br>
			</div>
			<div class="form-group col-sm-6">
				<label>Notes</label>
				<textarea name="boquet-bridal-notes"></textarea>
			</div>
		</div>

		<hr class="dotted">

		<div class="row">
			<div class="form-group col-sm-6">
				<label>Bridesmaids</label><br>
				<b>Qty:</b>
				<input type="number" name="bridesmaids-bouquet-count" style="width: 40px"></input><br><br>
				<select class="form-control" name="bridesmaids-bouquet"><% printFlowers(flowers); %></select><br>
			</div>
			<div class="form-group col-sm-6">
				<label>Notes</label>
				<textarea name="bridesmaids-bouquet-notes"></textarea>
			</div>
		</div>

		<hr>

		<h2>Boutonnieres</h2>
		<!-- Groom -->
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Groom</label>
				<select class="form-control" name="corsages-groom"><% printFlowers(flowers); %></select><br>
			</div>
			<div class="form-group col-sm-6">
				<label>Notes</label>
				<textarea name="groom-notes"></textarea>
			</div>
		</div>

		<hr class="dotted">

		<!-- Groomsmen -->
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Groomsmen</label><br>
				<b>Qty:</b>
				<input type="number" name="groomsmen-count" style="width: 40px"></input><br><br>
				<select class="form-control" name="corsages-groomsmen"><% printFlowers(flowers); %></select><br>
			</div>
			<div class="form-group col-sm-6">
				<label>Notes</label>
				<textarea name="groomsmen-notes"></textarea>
			</div>
		</div>

		<hr class="dotted">

		<!-- Ushers -->
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Ushers</label><br>
				<b>Qty:</b>
				<input type="number" name="ushers-count" style="width: 40px"></input><br><br>
				<select class="form-control" name="corsages-ushers"><% printFlowers(flowers); %></select><br>
			</div>
			<div class="form-group col-sm-6">
				<label>Notes</label>
				<textarea name="ushers-notes"></textarea>
			</div>
		</div>

		<hr>

		<h2>Corsages</h2>
		<div class="row">

			<!-- Groom Left -->
			<div class="form-group col-sm-4">
				<label>Groom</label>
				<select class="form-control" name="corsages-groom"><% printFlowers(flowers); %></select>
			</div>
			<!-- Groom Right -->
			<div class="form-group col-sm-4">
				<label>Groomsman #1</label>
				<select class="form-control" name="corsages-groomsman1"><% printFlowers(flowers); %></select>
			</div>
			<div class="form-group col-sm-4">
				<label>Groomsman #2</label>
				<select class="form-control" name="corsages-groomsman2"><% printFlowers(flowers); %></select>
			</div>
		</div>

		<hr>

		<h2>Ceremony Decorations</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Groom</label>
				<select class="form-control" name="corsages-groom"><% printFlowers(flowers); %></select>
			</div>
			<div class="form-group col-sm-4">
				<label>Groomsman #1</label>
				<select class="form-control" name="corsages-groomsman1"><% printFlowers(flowers); %></select>
			</div>
			<div class="form-group col-sm-4">
				<label>Groomsman #2</label>
				<select class="form-control" name="corsages-groomsman2"><% printFlowers(flowers); %></select>
			</div>
		</div>

		<hr>

		<h2>Reception Decorations</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Groom</label>
				<select class="form-control" name="corsages-groom"><% printFlowers(flowers); %></select>
			</div>
			<div class="form-group col-sm-4">
				<label>Groomsman #1</label>
				<select class="form-control" name="corsages-groomsman1"><% printFlowers(flowers); %></select>
			</div>
			<div class="form-group col-sm-4">
				<label>Groomsman #2</label>
				<select class="form-control" name="corsages-groomsman2"><% printFlowers(flowers); %></select>
			</div>
		</div>

		<hr>

		<!-- Add Item Modal -->
		<div class="container">

			<div class="modal fade" id="mdlAddItem" role="dialog">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header" style="padding:32px 32px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>Add Item</h4>
						</div>
						<div class="modal-body" style="padding:48px 48px;">
							<form name="formEditInventory" role="form" attribute="">
								<div class="form-group">
									<label>Item</label>
									<input name="addName" type="text" class="form-control" id="addName" placeholder="Enter name">
								</div>
								<div class="form-group">
									<label>Quantity</label>
								<div class="form-group">
									<label>$ Price</label>
									<input name="addPrice" type="number" min="0.00" step="0.01" class="form-control" id="addPrice" placeholder="Enter price">
								</div>
								<div class="form-group">
									<label>Price</label>
								</div>
								<br><br>
								<div>
									<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-success btn-default pull-right" id="addItem">Add</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
  </form>

  <% include ../../partials/footer %>

<script>
$(function() {
    $(".date").datepicker();

		$(".itemTable").DataTable({
    		"searching": false,
				"bPaginate": false
  	});

		// Display "add inventory" modal.
		$("#addReceptionItem").on('click', function() {
				$("#mdlAddItem").modal();
		});

		/*<!-- enable spectrum color picker on color1-4 input fields -->
		$("#color1, #color2, #color3, #color4").spectrum({
		    color: "#ECC",
		    showInput: true,
		    className: "full-spectrum",
		    showInitial: true,
		    showPalette: true,
		    showSelectionPalette: true,
		    maxSelectionSize: 10,
		    preferredFormat: "hex",
		    localStorageKey: "spectrum.demo",
		    move: function (color) {

		    },
		    show: function () {

		    },
		    beforeShow: function () {

		    },
		    hide: function () {

		    },
		    change: function() {

		    },
		    palette: [
		        ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
		        "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
		        ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
		        "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
		        ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
		        "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
		        "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
		        "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
		        "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
		        "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
		        "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
		        "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
		        "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
						"rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
		    ]
		});*/

});
</script>

<% function printTimes() { %>
	<% var minutes = ["00","15","30","45"]; %>
	<% for(var i = 0; i <=23; i++) { %>
		<% for(var j = 0; j < minutes.length; j++) {
			var suffix = (i >= 12)? 'pm' : 'am';
			var hours = (i > 12) ? i - 12 : i;
			if(hours == 0) {
				hours = 12;
			} %>
			<option value="<%= hours + minutes[j] + suffix %>"><%= hours + ":" + minutes[j] + " " + suffix%></option>
		<% } %>
	<% } %>
<% } %>

<% function printFlowers(flowers) { %>
	<option value="">Select Flower...</option>
	<% flowers.forEach(function(item, index) { %>
			<option value="<%= item.id %>"><%= item.name %></option>
	<% }); %>
<% } %>

<% function printCustomers(customers) { %>
	<% customers.forEach(function(item, index) { %>
			<option value="<%= item.id %>"><%= item.lastName + ', ' + item.firstName %></option>
	<% }); %>
<% } %>



<style>
div.ui-datepicker, .ui-datepicker td {
 	font-size:1.5em;
}
</style>

<!--
General information:
Date of wedding
Brides Name
Grooms Name
Email Address
Phone number(s)
Physical Address
Ceremony Location
Ceremony start time

Reception Location
Reception start time

Other
Photographer start time
Wedding Planner

Delivery time

Recipe Categories: (Recipe, pricing, design notes)
Bridal bouquet
Bridesmaids (total number=#)
Throw bouquet
Boutonnieres:
    Groom,
    Groomsmen (#)
    Ushers (#)
    Fathers (#)
    Grandfathers(#)
    Ring Bearers (#)
    Officiant
    Vocalist
    Hosts
    Reader
    Musician
Corsages:
    Mothers (#)
    Grandmothers(#)
    Guest Book (#)
    Cake Cutter(#)
    Reader
    Vocalist
    Hostess
    Musician
    Flower Girl (#)
Ceremony Decorations
    Altar (#)
    Aisle decorations
    Guest Book
    Candelabras
    Unity Candle
Reception Decorations
    Centerpieces (#) [**Often this category might have 1-4 different styles         so multiple entries will be needed for different recipes**]
    Head Table
    Bar Flowers
    Guest book
    Cake Flowers
    Other [**would like to be able to add a category should a bride be         doing something unique I can add that in easily**]
-->
