<!-- views/admin/users.ejs -->
<% include ../../partials/header %>
<script src='/public/js/eventForm.js'></script>
<link rel='stylesheet' href='/public/css/eventForm.css' />
	<div class="page-header text-center">
		<h1><span class="fa fa-calendar"></span> New Event</h1>
		<% if(form_id) { %>
			<input type="text" id="form-id" disabled="true" value="<%= form_id %>">
		<% } else { %>
			<input type="text" id="form-id" disabled="true" value="<%= form_id %>">
		<% } %>
	</div>

	<form id="main-form">
	<% if(form_html) { %>
		<%- form_html %>
	<% }  else { %>

		<h2 id="GeneralInfo">Customer & General Info</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Customer</label>
				<select class="form-control" name="customer" data-val="TBA"></select>
			</div>
			<div class="form-group col-sm-4">
				<label>Bride's Name</label>
				<input type="text" class="form-control" name="brides-name">
			</div>
			<div class="form-group col-sm-4">
				<label>Groom's Name</label>
				<input type="text" class="form-control" name="grooms-name">
			</div>
		</div>

		<hr>

		<h2 id="CeremonyInfo">Ceremony Info</h2>
		<div class="row">
			<div class="form-group col-sm-6">
					<label>Date</label>
					<input type="text" class="form-control date" name="ceremony-date">
			</div>
			<div class="form-group col-sm-6">
				<label>Start Time</label>
				<select class="form-control TimeSelect" name="ceremony-start-time" data-val="TBA"></select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Address</label>
				<input type="text" class="form-control" name="ceremony-address">
			</div>
			<div class="form-group col-sm-3">
				<label>City</label>
				<input type="text" class="form-control" name="ceremony-city">
			</div>
			<div class="form-group col-sm-3">
				<label>State</label>
				<input type="text" class="form-control" name="ceremony-state">
			</div>
			<div class="form-group col-sm-3">
				<label>Zip</label>
				<input type="text" class="form-control" name="ceremony-zip">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Colors</label><br>
				<textarea name="color-notes"></textarea>
			</div>
			<div class="form-group col-sm-6">
				<label>Theme</label><br>
				<textarea name="theme-notes"></textarea>
			</div>
		</div>

		<hr>
		<!-- RECEPTION -->

		<h2 id="ReceptionInfo">Reception Info</h2>
		<div class="row">
			<div class="form-group col-sm-6">
					<label>Date</label>
					<input type="text" class="form-control date" name="reception-date">
			</div>
			<div class="form-group col-sm-6">
				<label>Start Time</label>
				<select class="form-control TimeSelect" name="reception-start-time" data-val="TBA"></select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Address</label>
				<input type="text" class="form-control" name="reception-address">
			</div>
			<div class="form-group col-sm-3">
				<label>City</label>
				<input type="text" class="form-control" name="reception-city">
			</div>
			<div class="form-group col-sm-3">
				<label>State</label>
				<input type="text" class="form-control" name="reception-state">
			</div>
			<div class="form-group col-sm-3">
				<label>Zip</label>
				<input type="text" class="form-control" name="reception-zip">
			</div>
		</div>

<hr>
<h2 id="PhotographyPlannerDeliveryTax">Photography, Planner, Delivery, & Tax</h2>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Photographers</label>
		<input type="text" class="form-control" name="photographers">
	</div>
	<div class="form-group col-sm-6">
		<label>Photography Start Time</label>
		<select class="form-control TimeSelect" name="photograph-start-time" data-val="TBA"></select>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Wedding Planner</label>
		<input type="text" class="form-control" name="wedding-planner">
	</div>
	<div class="form-group col-sm-6">
		<label>Delivery Time</label>
		<select class="form-control TimeSelect" name="delivery-time" data-val="TBA"></select>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Tax Information</label>
		<select class="form-control taxes" name="tax-information" data-val="TBA"></select>
	</div>
</div>

		<hr>

		<%
			printRecipeSection("Bouquets",["Bridal","Bridesmaids","Throw"]);
			printRecipeSection("Boutonnieres",["Groom","Groomsmen","Ushers","Fathers","Grandfathers","Ring Bearers","Officiant","Vocalist","Hosts","Reader","Musician","Other"]);
			printRecipeSection("Corsages",["Mothers","Guest Book","Cake Cutter","Reader","Vocalist","Hostess","Musician","Flower Girl","Other"]);
			printRecipeSection("Ceremony Decorations",["Altar","Aisle","Guest Book","Unity Candle","Other"]);
			printRecipeSection("Reception Decorations",["Centerpieces","Head Table","Bar Flowers","Guest book","Cake Flowers","Other"]);
		%>

		<div id="side-bar">
			<img class="logo" src="/public/img/logo.jpg" width="198px"></img>
			<!-- Grand Total -->
			<table class="itemTable" id="grand-total-table" cellspacing="0" width="100%">
				<thead>
					<th>Grand Total</th>
				</thead>
				<tbody>
					<td id="grand-total" style="text-align: center">$0.00</td>
				</tbody>
			</table>

			<ul id="floating-side-nav" class="floating-side-nav">
				<li><a href="javascript:navigationFn.goToSection('#GeneralInfo');">Customer & General Info</a></li>
				<li><a href="javascript:navigationFn.goToSection('#CeremonyInfo');">Ceremony Info</a></li>
				<li><a href="javascript:navigationFn.goToSection('#ReceptionInfo');">Reception Info</a></li>
				<li><a href="javascript:navigationFn.goToSection('#PhotographyPlannerDeliveryTax');">Photography, Planners, Delivery, & Tax</a></li>
				<li><a href="javascript:navigationFn.goToSection('#Bouquets');">Bouquets</a></li>
				<li><a href="javascript:navigationFn.goToSection('#Boutonnieres');">Boutonnieres</a></li>
				<li><a href="javascript:navigationFn.goToSection('#Corsages');">Corsages</a></li>
				<li><a href="javascript:navigationFn.goToSection('#CeremonyDecorations');">Ceremony Decorations</a></li>
				<li><a href="javascript:navigationFn.goToSection('#ReceptionDecorations');">Reception Decorations</a></li>
			</ul>

			<!-- save -->
			<input class="btn btn-primary" id="save-btn" type="submit" value="Save"></input>
		</div>
		<% } %> <!-- end if -->
  </form>

	<!-- Add Item Modal -->
	<div class="container">

		<div class="modal fade" id="mdlAddItem" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header" style="padding:32px 32px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2>Add Item</h2>
					</div>
					<div class="modal-body" style="padding:48px 48px;">
						<form name="formEditInventory" role="form" attribute="">
							<div class="form-group">
									<% InsertIneventoryTypes(inventory_types); %><hr>
								<input class="modal-hidden-table" id="modal-table-id" type="hidden" value="" />
								<label>Item</label>
								<select class="form-control" name="altar-inventory" id="altar-inventory"></select><br>
								<div class="row">
									<div class="col-sm-6">
										<label>Quantity</label>
										<input name="addQuanitiy" class="form-control" id="addQuantity" type="number" min="1" step="1" />
									</div>
									<div class="col-sm-6">
										<label>$ Price</label>
										<input name="addPrice" id="addPrice" type="number" min="0" min="0.00" step="0.01" class="form-control currency";>
									</div>
								</div>
								<hr>
							</div>
							<br><br>
							<div>
								<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-success btn-default pull-right" id="addItem">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

  <% include ../../partials/footer %>

<% function printRecipeSection(heading, subSections) { %>
	<% strippedHeading = heading.replace(/\s+/g, ''); %>
	<h2 id="<%= strippedHeading %>"><%= heading %></h2>

	<% for(var i = 0; i < subSections.length; i++) { %>
		<% strippedSubSection = subSections[i].replace(/\s+/g, ''); %>
		<div class="row">
			<div class="form-group col-sm-8">
				<label><%= subSections[i] %></label><br>

				<input type="button" class='add-btn btn btn-primary' id="add-<%= strippedHeading %>-<%= strippedSubSection %>" value="Add" />
				<table class="itemTable" id="<%= strippedHeading %>-<%= strippedSubSection %>-table" cellspacing="0" width="100%">
					<thead>
						<th>Item</th>
						<th>Qty</th>
						<th>Price (each)</th>
						<th>Edit</th>
					</thead>
					<tbody>
					<tr class='recipeTotal'>
						<td class='item total-row' colspan='2'>Total</td>
						<td class='price total-row' colspan='2'>$0.00</td>
					</tr>
				</tbody>
				</table>
			</div>
			<div class="form-group col-sm-4">
				<label>Qty</label>
				<input type="number" min="0" class="form-control-num recipeQty" name="<%= strippedHeading %>-<%= strippedSubSection %>-qty" value="0">
			</div>
			<div class="form-group col-sm-4">
				<label>Notes</label>
				<textarea name="<%= strippedHeading %>-<%= strippedSubSection %>-notes"></textarea>
			</div>
		</div>

		<% if(i < subSections.length - 1) { %>
			<hr class="dotted"><% } %>
	<% } %>

	<hr>
<% } %>

<% function InsertIneventoryTypes(rows) { %>
	<% rows.forEach(function(item, index) { %>
		<input type="radio" name="inventory-type" class="inventory-btn" value="<%= item.id %>">
		<label class="invradiolabel"><%= item.type %></label><br>
	<% }); %>
<% } %>
